---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreviewSkills from '../components/PortfolioPreviewSkills.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('skills')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Yoni Mahieddine"
	description=""
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mon portefeuille de compétences"

				tagline="Découvrez les différentes compétences que j'ai pu acquérir au fil de mon curus universitaire et professionnel."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreviewSkills projects={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
